html {
    font-size: 62.5%;
    background-color: #fff;
    height: 100%;
}
.ant-layout,.ant-layout-header {
    background-color: #fff;
}

.body {
    height: 100%;
}

.ant-layout-content {
    color: #999;
    margin-top: 8rem;
}
